* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  background-color: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  align-items: center;
  overflow-x: hidden;
}
.main-section {
  display: flex;
  align-items: center;
  margin-left: 18%;
  height:720px ;
  gap:30px;
  padding-left:10px; 
  padding-right:10px; 
}
.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  padding: 0px 32px 0px 0px;
  margin-top: -200px;
}
.branding img {
  width: 320.94px;
  height: 120px;
  margin-right: 50%;
  padding:0;
  margin-bottom: -20px;
}
.branding p {
  color: #1c1e21;
  font-size: 28px;
  line-height: 32px;
}
.panel {
  width: 396px;
  height: 348.83px;
  background-color: #fff;
  margin: 40px 0px 0px;
  padding: 20px;
  box-shadow: 0 3px 5px 2px rgb(150, 150, 150, 0.4);
  text-align: center;
  align-self: center;
  border-radius: 6px;
  
}
.bpanel{
  margin-top: -90px;
}
input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
}
input::placeholder {
  font-size: larger;
}
input:focus {
  outline: 1px solid #1877f2;
}
.Log-in-button {
  background-color: #0866ff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0 16px; */
  width: 100%;
  height: 50px;
}
.Log-in-button:hover {
  cursor: pointer;
  background-color: #1877f2;
}
a {
  text-decoration: none;
  color: #7e7e7e;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.Forgot {
  font-size: 14px;
  line-height: 18.8px;

  color: #0866ff;
}
hr {
  margin: 18px 0;
  opacity: 0.5;
}
.register-button {
  background-color: #42b72a;
  font-size: 17px;
  line-height: 48px;
  padding: 20px;
  color: #ffffff;
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 2px 0px 0px;
  width: 192.61px;
  margin: -2%;
  align-self: center;
  border-radius: 6px;
}
.register-button:hover {
  cursor: pointer;
  background-color: #36a420;
  text-decoration: none;
}
.bottom-link {
  display: flex;
  justify-content: center;
  gap: 3px;
  font-size: 14px;
  line-height: 18.8px;
  color: #1c1e21;
  margin: 28px 0px 0px;
}
.page {
  color: black;
  font-weight: bold;
}
footer {
  background-color: #fff;
  height: fit-content;
  padding: 20px 0px 0px;
  min-width: 100%;
}
ul {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 12px;
  color: #7e7e7e;
  line-height: 1.5;
}
hr {
  margin: 10px 230px;
  opacity: 0.3;
}
li {
  margin-right: 15px;
}
/*


  
  /* Small Devices */
@media only screen and (max-width: 767px) {
  .main-section {
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .branding {
    padding: 0;
    text-align: center;
   margin-top: 0;
  }

  .branding img{
    width: 300px;
    height: 60px;
    margin-left: 200px;
  }
  .branding p {
    font-size: 20px;
     margin-left:20px;
     margin-top: 10px;
     align-items: center;
     /* justify-content: center; */
  }
  .bpanel{
  margin-top: 0; 
  /* margin-left: 25%; */
  }

  .panel {
    width: 100%;
    /* margin: 0; */
    padding: 30px;
  }
  input {
    width: 100%;
  }

  footer {
    display: none;
  }

  input,
  .Log-in-button {
    font-size: 14px;
    padding: 8px 10px;
  }
}

/* Medium Devices */
@media only screen and (max-width: 1199px) {
  .main-section {
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .branding img{
    width: 300px;
    height: 60px;
    margin-top: 70px;
    margin-left: 50%;
    
  }
  .branding{
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;


  }
  .branding p {
    font-size: 20px;
     margin-left:20px;
     margin-top: 30px;
     align-items: center;
     /* justify-content: center; */
     width: 300px;
  }
  .bpanel{
    margin: 0;
    margin-top: 20px;
  }
  .panel {
    width: 350px;
  }

  footer {
    padding: 20px;
  }
}
